<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body id="tt-body-index">
<header class="blog-header lh-1 py-3">
    <div th:fragment="sidbar" id="sidebar" class="mCustomScrollbar _mCS_1 mCS-autoHide">
        <div tid="mCSB_1" class="mCustomScrollBox mCS-dark-thin mCSB_vertical mCSB_inside"
             tabindex="0">
            <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                <div class="blank"></div>
                <h1>
                    <a class="blog-header-logo text-dark" href="/">MangTaeBlog</a>
                </h1>
            </div>
            <div class="widget">
                <ul>
                    <li class="t_menu_link_1 last">
                        <a href="/write">글쓰기</a>
                    </li>
                </ul>
            </div>
            <div id="mCSB_1_scrollbar_vertical"
                 class="mCSB_scrollTools mCSB_1_scrollbar mCS-dark-thin mCSB_scrollTools_vertical"
                 style="display: block;">
                <div class="mCSB_draggerContainer">
                    <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                         style="position: absolute; min-height: 30px; display: block; height: 848px; max-height: 934px;"
                         oncontextmenu="return false">
                        <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                    </div>
                    <div class="mCSB_draggerRail"></div>
                </div>
            </div>

        </div>
    </div>
</header>

</body>

</html>