<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MANGTAE BLOG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Custom styles for this template -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog.css" rel="stylesheet">
</head>
<body id="tt-body-index">
<div id="wrap">
    <div id="sidebar" class="mCustomScrollbar _mCS_1 mCS-autoHide">
        <div th:replace="common/Sidebar :: sidbar"></div>
    </div>
    <div id="content">
        <div id="content-inner">
            <div id="head"><h2>전체글</h2></div>
            <div id="body" class="list">
                <ul>
                    <li th:each="post : ${list}">

                        <a th:href="@{|/detail/${post.id}|}" th:text="${post.title}"></a>
                        <span th:text="${post.createDate}"></span>
                    </li>
                </ul>
            </div>
            <div th:each="post : ${list}">
                <div id="head"><h2>
                    <a id="postTitle" th:href="@{|/detail/${post.id}|}" th:text="${post.title}"></a>
                    <input type="hidden" id="id" th:value="${post.id}">
                </h2>
                    <div th:text="${post.createDate}" class="date"></div>
                </div>
                <div id="body" class="entry">
                    <div class="tag_label"></div>
                    <div class="article">
                        <div class="tt_article_useless_p_margin contents_style">
                            <p th:text="${post.content}"></p>
                        </div>
                    </div>
                    <div class="admin">
                        <a th:href="@{|/edit/${post.id}|}">Modify</a>
                        <span class="line"></span>
                        <a id="btn-delete" >Delete</a>
                    </div>
                    <div id="entry2Comment" class="entry2Comment">
                        <div id="communicate">
<!--                            <form th:id="'commentForm' + ${postStat.index}" name="commentForm" class="commentForm">-->
<!--                                <input type="hidden" class="postId" th:id="'postId' + ${postStat.index}" th:value="${post.id}">-->
<!--                                <div class="communicateWrite">-->
<!--                                    <div class="name quest">-->
<!--                                        <label>USERID</label>-->
<!--                                        <input class="memberId" th:id="'memberId' + ${postStat.index}" type="text" name="memberId">-->
<!--                                    </div>-->
<!--                                    <div class="textarea">-->
<!--                                        <textarea class="commentContent" th:id="'commentContent' + ${postStat.index}" rows="10" clas="50"></textarea>-->
<!--                                    </div>-->
<!--                                    <div class="submit">-->
<!--                                        <input type="button" class="btn-comment-save" value="WRITE" >-->
<!--                                    </div>-->
<!--                                    <div class="clear"></div>-->
<!--                                </div>-->
<!--                            </form>-->
                            <div class="communicateList">
                                <ol th:each="comment : ${post.comments}">
                                    <li id="comment13330521">
                                        <div class="rp_general">
                                            <p></p>
                                            <div class="info">
                                                <span class="name" th:text="${comment.userId}"></span>
                                                <span class="date" th:text="${comment.createDate}"></span>
                                            </div>
                                            <div class="clear"></div>
                                            <p th:text="${comment.content}"></p>
                                            <div class="control"></div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- 페이징처리 시작 -->
        <div id="paging" th:if="${!list.isEmpty()}"><!--paging.isEmpty:페이지존재여부(게시물있으면 false,없으면 true)-->
            <ul class="pagination justify-content-center">
                <div class="page-item" th:classappend="${!list.hasPrevious} ? 'disabled'">
                    <!-- !paging.hasPrevious - disabled : 이전페이지가 없으면 비활성화-->
                    <a id="prev no-more-prev" class="page-link" th:href="@{|?page=${list.number - 1}|}">
                        <!--이전페이지 링크-->
                        <span>이전</span>
                    </a>
                </div>
                <!--th:each :페이지 리스트 루프--> <!--#numbers.sequence(시작, 끝)-->
                <li th:each="page: ${#numbers.sequence(0, list.totalPages - 1)}"
                    th:classappend="${page == list.number} ? 'active'"
                    class="selected">
                    <!--page == paging.number : 현재페이지와 같으면 active 적용-->
                    <a th:text="${page}" class="numbox" th:href="@{|?page=${page}|}"></a>
                </li>


                <li class="page-item" th:classappend="${!list.hasNext} ? 'disabled'">
                    <!-- !paging.hasNext - disabled : 다음페이지 없으면 비활성화-->

                    <a class="page-link" th:href="@{|?page=${list.number + 1}|}">
                        <!--다음페이지 링크-->
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 페이징처리 끝 -->
    </div>

</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    const main = {
        init: function () {
            const _this = this;

            // 게시글 삭제
            $('#btn-delete').click(function () {
                _this.delete();
            });

            //
            // // 댓글 저장
            // $('.btn-comment-save').click(function () {
            //     _this.commentSave();
            // });

        },

        /** 글 삭제 */
        delete : function () {
            const id = $('#id').val();
            const con_check = confirm("정말 삭제하시겠습니까?");

            if(con_check == true) {
                $.ajax({
                    type: 'DELETE',
                    url: '/api/posts/delete/'+id,
                    dataType: 'JSON',
                    contentType: 'application/json; charset=utf-8'

                }).done(function () {
                    alert("삭제되었습니다.");
                    window.location.href = '/';
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                });
            } else {
                return false;
            }
        },
    }
    main.init();

</script>
</html>